/* reset */
* {
	outline: 0
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,input
	{
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img,table {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

strong {
	font-style: normal;
	font-weight: 700;
}

em {
	font-style: italic;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

h2 {
	font-size: 16px;
	font-weight: 700;
}

h3 {
	font-size: 12px;
	font-weight: 700;
}

h4 {
	font-size: 11px;
	font-weight: 700;
}

p {
	line-height: 1.3em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	cursor: pointer;
}

abbr {
	cursor: help;
}

legend {
	display: none;
}
/* fim reset */

/* tools */
.clear {
	clear: both;
}

flutuaEsquerda {
	float: left;
}

flutuaDireita {
	float: right;
}
/* fim tools */

/* base */
body {
	background: #E6CDA5 url(../img/bg_brasao.png) no-repeat 0 129px scroll;
	font-family: "Trebuchet MS", Arial, Verdana, "Times New Roman";
	color: #000000;
}

#all,#header,#middle,#footer,#boxPrincipal {
	width: 965px;
	margin: 0 auto;
	clear: both;
}
/* fim base */

/* Footer */
#footer {
	border-top: 2px #BABAB9 solid;
	margin: 17px 0 20px 0;
	padding-top: 8px;
	text-align: center;
}

#footer div address {
	color: #514E4D;
	font: 9px Tahoma, "Trebuchet MS", Arial, Verdana, "Times New Roman";
}

#footer div.footer_left {
	text-align: left;
}

#footer div.footer_left address {
	width: 371px;
	float: left;
}

#footer div.footer_right {
	text-align: right;
}

#footer div.footer_right address {
	width: 580px;
	float: right;
}
/* Fim Footer */

/* Header */
#header {
	height: 111px;
	font-size: 11px;
	margin-bottom: 18px;
	position: relative;
}

#header h1 {
	width: 162px;
	height: 85px;
	position: absolute;
	top: 16px;
	left: 22px;
}

#header h1 a {
	width: 162px;
	height: 85px;
	background: url(../img/logo.png) no-repeat scroll 0 0;
	display: block;
	text-indent: -9000px;
}

#header div {
	clear: both;
}

#header div ul li {
	float: right;
}

#header div ul li a {
	color: #000;
}

#header div.menuSuperior {
	clear: both;
	height: 81px;
}

#header div.menuSuperior ul li {
	margin-left: 10px;
	position: relative;
	text-align: center;
	height: 46px;
}

#header div.menuSuperior ul li a {
	display: block;
	height: 18px;
	padding-top: 28px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

#header div.menuSuperior ul li a.selected {
	background-color: #830825;
}

#header div.menuSuperior ul li a:hover {
	text-decoration: none;
	background-color: #830825;
	color: #FFF;
}

#header div.menuSuperior ul.menu_principal {
	float: right;
	width: 745px;
	margin-right: 35px;
}

#header div.menuSuperior ul.menu_principal li.item13,#header div.menuSuperior ul li.item13 a
	{
	width: 47px;
}

#header div.menuSuperior ul.menu_principal li.item12,#header div.menuSuperior ul li.item12 a
	{
	width: 85px;
}

#header div.menuSuperior ul.menu_principal li.item11,#header div.menuSuperior ul li.item11 a
	{
	width: 54px;
	text-decoration: none;
	background-color: #830825;
	color: #FFFFFF;
}

#header div.menuSuperior ul.menu_principal li.item10,#header div.menuSuperior ul li.item10 a
	{
	width: 134px;
}

#header div.menuSuperior ul.menu_principal li.item9,#header div.menuSuperior ul li.item9 a
	{
	width: 113px;
}

#header div.menuSuperior ul.menu_principal li.item8,#header div.menuSuperior ul li.item8 a
	{
	width: 78px;
}

#header div.menuSuperior ul.menulang {
	width: 110px;
	float: right;
	margin-right: 3px;
}

#header div.menuSuperior ul.menulang li {
	text-align: center;
	margin: 0;
	font-family: Tahoma, "Trebuchet MS", Arial, Verdana, "Times New Roman";
	width: 45px;
	float: right;
}

#header div.menuSuperior ul.menulang li.item6 {
	width: 1px;
	height: 40px;
	border-left: 1px solid #c6c7c8;
	margin: 0 5px 0 5px;
}

#header div.menuSuperior ul.menulang li.item6 a {
	display: none;
}

#header div.menuSuperior ul.menulang li a {
	font-size: 10px;
	width: 45px;
}

/*Menu tools*/
#header div.menuTools {
	font-family: Tahoma, "Trebuchet MS", Arial, Verdana, "Times New Roman";
}

#header div.menuTools ul {
	
}

#header div.menuTools ul li {
	padding: 0 10px 0 10px;
	border-right: #000 1px solid;
}

#header div.menuTools ul li.semborda {
	border: none;
}

#header div.menuTools ul li.semborda form {
	height: 17px;
	background: url(../img/bg_tools.png) no-repeat 4px 0px scroll;
}

#header div.menuTools ul li form input {
	color: #707173;
	font-family: Tahoma, "Trebuchet MS", Arial, Verdana, "Times New Roman";
	font-size: 12px;
	width: 171px;
	height: 13px;
	border: #FFFFFF;
	font-size: 11px;
	color: #707173;
	text-indent: 7px;
}

#header div.menuTools ul li.semborda form input.send {
	background: url(../img/seta_busca2.gif) no-repeat;
	height: 15px;
	width: 13px;
	border: none;
}

#header div.menuTools ul ul li.item3 {
	border: none;
}
/*fim Menu tools*/
/* Fim Header */

/* Menu Vertical */
.menu_vertical {
	width: 240px;
	float: left;
	position: relative;
	background-color: #830825;
}

.menu_vertical ul {
	background-color: #830825;
}

.menu_vertical ul li {
	color: #FFFFFF;
	background-color: #830825;
}

.menu_vertical ul li a {
	color: #FFFFFF;
	height: 29px;
	line-height: 29px;
	display: block;
	padding-left: 35px;
	font-size: 13px;
	text-decoration: none;
	background-image: url(../img/menu_bg_seta.gif);
	background-position: 24px 31px;
	background-repeat: repeat-y;
}

.menu_vertical ul li a .marcador {
	font-size: 13px;
}

.menu_vertical ul li.margem {
	padding-top: 20px;
}

.menu_vertical ul li.margem_inferior {
	padding-bottom: 25px;
}

.menu_vertical_fix {
	margin-bottom: 0px;
}

.menu_vertical ul.menu_home li ul li a {
	padding-left: 47px;
	background-position: 300px 31px;
}

.menu_vertical ul.menu_home li ul li a:hover {
	background-position: 36px 31px;
}

#current a {
	color: #FFCC33;
}

#current ul a {
	color: #fff;
}

.menu_vertical ul li a:hover,.menu_vertical ul li dl dt a:hover,.menu_vertical ul li dl dd a:hover
	{
	background-color: #9E042D;
	text-decoration: none;
}
/*MODIFICACAO PRA O MENU DA HOME*/
.menu_vertical ul.menu_home li.item71 {
	padding-top: 20px;
}
/*.menu_vertical ul.menu_home li.item83 {padding-bottom:34px;}*/
.menu_vertical ul.menu_home li.item83 {
	padding-bottom: 34px;
}

.banner_internas {
	background-image: url(../img/banner_internas.png);
	height: 159px;
}
/* Fim INDEX*/
/* Transparência */
.tituloMenu {
	position: absolute;
	top: -160px;
}

.tituloMenu div#item_1 {
	position: relative;
	width: 240px;
	height: 160px;
	background: none;
	margin-bottom: 0.5px;
}

.tituloMenu div#item_1 a {
	height: 160px;
	font: 23px bold "Trebuchet MS", Arial, Verdana, "Times New Roman";
	line-height: 65px;
	color: #FFFFFF;
	position: relative;
}

.tituloMenu div#item_1 a:hover {
	text-decoration: none;
}

.tituloMenu div#item_1 .camada_sobreposta {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: .0;
	-moz-opacity: .0;
	filter: alpha(opacity = 0);
	background-color: #FFFFFF;
}

.tituloMenu div ##item_1 .transparencia_conteudo {
	height: 160px;
}

.tituloMenu div ##item_1 .transparencia_conteudo a {
	height: 160px;
	font: 23px bold "Trebuchet MS", Arial, Verdana, "Times New Roman";
	line-height: 160px;
	background: none;
	position: relative;
}
/* Fim Transparência */
/* Fim Menu Vertical */
/* Migalha de Pão */
.breadcrumb {
	width: 662px;
	float: left;
	margin: 6px 0 1px 36px;
}

.breadcrumb ul {
	border-bottom: 1px #707173 solid;
	height: 17px;
}

.breadcrumb ul li {
	font-size: 10px;
	float: left;
	margin-left: 6px;
}

.breadcrumb ul li.first {
	margin-left: 1px;
}

.breadcrumb ul li a,.breadcumb ul li.first a {
	color: #707173;
}
/* Migalha de Pão */
/*Conteudo*/
#middle {
	background: #F8F8F8 url(../img/bg_middle.gif) repeat-y scroll 0 0;
}

.internas_conteudo {
	width: 723px;
	float: left;
	margin: 10px 0 0 0;
}

.box_txt {
	width: 662px;
	float: left;
	margin: 0px 0 1px 36px;
}

.box_txt p {
	font-size: 11px;
	color: #707173;
	margin-bottom: 18px;
}

.box_txt div {
	font-size: 11px;
	color: #707173;
}

.box_txt h2 {
	font-size: 20px;
	color: #9e042d;
	margin: 31px 0 30px 0;
	font-family: "Trebuchet MS", Arial, Verdana, "Times New Roman";
	font-weight: normal;
}

.box_txt a {
	color: #9e042d;
	text-decoration: none;
}

.box_txt a:hover {
	color: #9e042d;
	text-decoration: underline;
}

.box_txt ul {
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: square;
}

.box_txt ol {
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: decimal;
}

.textovalendo {
	font-size: 11px;
	color: #707173;
}

.textovalendo strong {
	font-weight: bold;
	color: #333333;
}

.textovalendo a strong {
	font-weight: bold;
	color: #9e042d;
}

.textovalendo table {
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
	border-color: #707173;
}

.textovalendo td {
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
	padding: 3px;
	border-color: #707173;
}

.textovalendo .semborda table {
	border-style: none;
	margin: 0 auto;
}

.textovalendo table.semborda {
	border-style: none;
	margin: 0 auto;
}

.textovalendo .semborda td {
	border-style: none;
	margin: 0 auto;
	padding: 0px;
}

.textovalendo .semborda2 table {
	border-style: none;
	margin: 0 auto;
}

.textovalendo .semborda2 td {
	border-style: solid;
	border-width: 2px;
	border-color: #F8F8F8;
	margin: 0 auto;
	padding: 3px;
}

.textovalendo .borda table {
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
	border-color: #707173;
}

.textovalendo .borda td {
	border-style: solid;
	border-width: 1px;
	margin: 0 auto;
	padding: 3px;
	border-color: #707173;
}

.contentpaneopen {
	width: 662px;
}

.box_txt .componentheading {
	font-size: 20px;
	color: #9e042d;
	margin: 31px 0 0px 0;
	font-family: "Trebuchet MS", Arial, Verdana, "Times New Roman";
	font-weight: normal;
}

.box_txt .contentpane {
	font-size: 11px;
	color: #707173;
}

.box_txt .contentpane .inputbox {
	font-size: 11px;
	color: #707173;
	border: #707173 solid 1px;
	margin-left: 5px;
}

.box_txt .contentpaneopen .textovalendo select {
	font-size: 11px;
	color: #666;
	border: #707173 solid 1px;
}

.box_txt .contentpaneopen .textovalendo p.data {
	font-size: 9px;
}

.box_txt .contentpaneopen .textovalendo .legenda {
	font-weight: bold;
}

.box_txt .contentpaneopen .textovalendo table table p {
	margin-bottom: 0px
}

.box_txt .contentpaneopen .textovalendo table p {
	margin-bottom: 0px
}

.box_txt .contentpaneopen .textovalendo table p.espaco {
	margin-bottom: 18px
}

.box_txt .contentpaneopen .textovalendo em {
	font-style: italic;
}

.box_txt h1.componentheading {
	margin: 31px 0 30px;
}

.box_txt div.mediathumb {
	border: none;
}

div.mediathumb {
	min-height: 0px;
	padding: 0px;
}

div.mediathumb a img {
	max-height: 80px;
	max-width: 80px;
}

#jmultimedia #player {
	margin: 0px auto;
	width: 500px;
	min-height: 150px;
	border: #000000 inset 10px;
	background: #000000;
}

.jg_row ul {
	margin-left: 0px;
}

div.jg_photo_left {
	width: 15%;
}

#iframemaps {
	clear: both;
	margin: 0;
	padding: 5px;
	margin: 0 0 0 0;
	width: 502px;
	height: 370px;
	border: solid 1px #ccc;
	background-color: #ffffff;
}

html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}